mixin titles()

  .d-flex.justify-content-center
    li.nav-item
      a.text-white.nav-link.active(href='/comments') 留言板
  .d-flex.justify-content-center
    li.nav-item
      a.text-white.nav-link(href='stnurl') 短網址