extends layout
include mixin/_form
include mixin/_comments
include mixin/_pages


block commentForm
  if (!currentUser)
    
  else
    +commentForm(currentUser)
    

block comments
    +allComments(commentsObj)


block pages
  //- h2 yosdfasdf
  +pages(currentPage, pages)