extends layout
include mixin/_form
include mixin/_comments
include mixin/_pages


block commentForm
  if (user)
    h2 not login
    
  else
    +commentForm({username: "heyman"})
    #main-comment-box

block comments
    +allComments(cardList)


block pages
  //- h2 yosdfasdf
  +pages(currentPage, pages)