.loginStatus {
  position: fixed;
  left: 10px;
  top: 80px;
  color: #808080;
}
label {
  margin: 5px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
}
.container__input {
  width: 80%;
  margin: 20px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: solid #ffd700;
  background-color: #fffafa;
}
.container__box {
  width: 80%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  background-color: #e2dfdf;
}
button {
  margin: 20px;
  font-size: 18px;
  background-color: #00a0e9;
  color: #fff;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
}
.box__nickname {
  margin: 10px;
  font-size: 24px;
}
.box__content {
  margin: 5px 10px;
}
.box__reply {
  width: 80%;
  border: dashed #008000;
  background-color: #f2f5f7;
  margin: 15px 10% 0px 10%;
  display: flex;
  flex-direction: column;
}
.box__authorReply {
  width: 80%;
  border: dashed #ffa500;
  background-color: #bec9cf;
  margin: 15px 10% 0px 10%;
  display: flex;
  flex-direction: column;
}
.reply__nickname {
  margin: 5px 10px;
  color: #00a0e9;
}
.reply__content {
  margin: 5px 10px;
  color: #000;
}
.page {
  display: flex;
  font-size: 26px;
  justify-content: space-evenly;
  margin-bottom: 30px;
}